/agro.xlsx
/COL_deforestation.xlsx
Data/final_df.zip
Data/final_df.csv
Data/OSC/Metadatos-ICM-2021.xlsx
Data/OSC/Datos-ICM-2023.xlsx
Data/OSC/Categorias_ruralidad_2024.xlsx
random_forest_model.pkl
random_forest_model.pkl
random_forest_model.pkl
Data/OSC/Datos-ICM-2023 - variables.xlsx
